<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
<title>Blog of NR</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/stylesheet.css">
</head>

<body class="background">
	<header>
		<div class="bar">
		<a href="../index.html" class="button-left">home</a>
		<a href="#" class="button-left it"><i>about</i></a>
		<a href="../views/gallery.html" class="button-left">gallery</a>
		<a href="../views/video.html" class="button-left">video</a>
		<a href="../views/equipment.html" class="button-left">my equipment</a>

		<a class="button-right" href="https://www.linkedin.com/in/nikolai-r-0ba753a1/" title="linkedin" target="_blank"><img class="icon" src="https://image.flaticon.com/icons/svg/142/142369.svg"></a>
		<a class="button-right" href="https://www.facebook.com/rolduginnik" title="facebook" target="_blank"><img class="icon" src="https://image.flaticon.com/icons/svg/142/142362.svg"></a>
		<a class="button-right" href="https://www.instagram.com/ya_lor/" title="instagram" target="_blank"><img src="https://image.flaticon.com/icons/svg/121/121520.svg"></a>
		</div>
	</header>
	
<div id="p2-80">
<aside>
	<div id="p2-img"><img src="../images/qrrKiRsHsKY.jpg" alt="Nick" width="100%">
	</div>
	<div id="p2-description">
		<h3>Description</h3>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>	
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>
</aside>
</div>

<footer id="p2-footer">
<div>
  	<a class="a-button-footer button-footer" href="../index.html" role="button">home</a>
	<a class="a-button-footer button-footer" href="../views/gallery.html" role="button">gallery</a>
</div>
	
<div id="fb"><span class="p-footer">&copy; 2019 Nikolai Roldugin <span id="year"></span> | <a class="a-footer" href="https://coned.georgebrown.ca/courses-and-certificates/fundamentals-of-web-design-with-css/" title="COMP 9626" target="_blank">Fundamentals of Web Design with CSS</a> | GBC 101133384</span></div>
</footer>
</body>
</html>