<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
<link rel="shortcut icon" href="https://image.flaticon.com/icons/svg/1613/1613737.svg" type="image/x-icon">
<title>Blog of NR</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/stylesheet.css">
</head>

<body>
	<header>
		<div class="bar" id="navbar" class="clearfix">
		<a href="../index.html" class="button-left">home</a>
		<a href="../views/about.html" class="button-left">about</a>
		<a href="../views/gallery.html" class="button-left">gallery</a>
		<a href="../views/video.html" class="button-left">video</a>
		<a href="#" class="button-left it"><i>my equipment</i></a>

		<a class="button-right" href="https://www.linkedin.com/in/nikolai-r-0ba753a1/" title="linkedin" target="_blank"><img class="icon" src="https://image.flaticon.com/icons/svg/142/142369.svg" alt="linkedin"/></a>
		<a class="button-right" href="https://www.facebook.com/rolduginnik" title="facebook" target="_blank"><img class="icon" src="https://image.flaticon.com/icons/svg/142/142362.svg" alt="facebook"/></a>
		<a class="button-right" href="https://www.instagram.com/ya_lor/" title="instagram" target="_blank"><img src="https://image.flaticon.com/icons/svg/121/121520.svg" alt="instagram"/></a>
		</div>
	</header>
		
	<div id="p5-contaner">
		<img class="p5-img" src="../images/Canon_EOS-M6_BLACK_Side_580x580.png" alt="Nick" width="100%">
		
		<div id="p5-01">
		<h3>EOS M6 Overview</h3>
		<p>The EOS M6 is an interchangeable-lens camera that puts advanced technologies like Dual Pixel CMOS AF with phase-detection in a compact and lightweight size. Ready at hand to help capture photos and videos the instant the moment happens, it focuses quickly and precisely to help ensure you catch the shot you want. The 24.2 Megapixel CMOS (APS-C) Sensor helps ensure your results are clear, incredibly detailed and vibrantly colourful. Once you've captured your most precious memories, you can easily share them with friends, family and the world through built-in wireless connectivity including Wi-Fi®*, NFC** and Bluetooth®***. Advanced technology and stunning image quality combine inside the stylish, highly portable EOS M6.</p>	
		</div>

	</div>
		<iframe width="560" height="315"    src="https://www.youtube.com/embed/CK3nHFMU8HQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
	</iframe>
	
	
	<div id="p5-description">
		<h3>Description</h3>	
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
	</div>

		<div id="p5-description">
		<h3>Description</h3>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>	
		</div>
		<div class="p5-video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/zAM2Sm7AySE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<footer>
			<div>
				<a class="a-button-footer button-footer" href="../views/video.html" role="button">video</a>
			</div>

			<div id="fb"><span class="p-footer">&copy; 2019 Nikolai Roldugin <span id="year"></span> | <a class="a-footer" href="https://coned.georgebrown.ca/courses-and-certificates/fundamentals-of-web-design-with-css/" title="COMP 9626" target="_blank">Fundamentals of Web Design with CSS</a> | GBC 101133384</span>
			</div>
		</footer>
</body>
</html>