<!DOCTYPE html>
<html lang="en">
<head>
<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
<link rel="shortcut icon" href="../images/camera.ico" type="image/x-icon">
<title>Blog of NR</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/stylesheet.css">
</head>

<body id="p3-gallery">
	<div class="wrapper">
		<header>
		<div class="bar">
		<a href="../index.html" class="button-left">home</a>
		<a href="../views/about.html" class="button-left">about</a>
		<a href="#" class="button-left it"><i>gallery</i></a>
		<a href="../views/video.html" class="button-left">video</a>
		<a href="../views/equipment.html" class="button-left">my equipment</a>

		<a class="button-right" href="https://www.linkedin.com/in/nikolai-r-0ba753a1/" title="linkedin" target="_blank"><img class="icon" src="https://image.flaticon.com/icons/svg/142/142369.svg" alt="linkedin"/></a>
		<a class="button-right" href="https://www.facebook.com/rolduginnik" title="facebook" target="_blank"><img class="icon" src="https://image.flaticon.com/icons/svg/142/142362.svg" alt="facebook"/></a>
		<a class="button-right" href="https://www.instagram.com/ya_lor/" title="instagram" target="_blank"><img src="https://image.flaticon.com/icons/svg/121/121520.svg" alt="instagram"/></a>
		</div>
		</header>
		<div class="background">
			<div class="wrapper3">
				<div class="p3-container">
					<selection id="p3-img">
					 <ul>
						<li>
							<a href="../images/070515_9.JPG">
								<img src="../images/070515_9.JPG" alt="me">
								<h5>Description</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</a>
						</li>
						<li>
							<a href="../images/070915_4.JPG">
								<img src="../images/070915_4.JPG" alt="me" width="80%">
								<h5>Description</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</a>
						</li>
						<li>
							<a href="../images/072015_1.JPG">
								<img src="../images/072015_1.JPG" alt="me" width="80%">
								<h5>Description</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</a>
						</li>
						<li>
							<a href="../images/072215_2.JPG">
								<img src="../images/072215_2.JPG" alt="me">
								<h5>Description</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</a>
						</li>
						<li>
							<a href="../images/_MG_0051-1.jpg">
								<img src="../images/_MG_0051-1.jpg" alt="me">
								<h5>Description</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</a>
						</li>
						<li>
							<a href="../images/IMG_0199-1.jpg">
								<img src="../images/IMG_0199-1.jpg" alt="me" >
								<h5>Description</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</a>
						</li>
						<li>
							<a href="../images/IMG_0211-1.jpg">
								<img src="../images/IMG_0211-1.jpg" alt="me">
								<h5>Description</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</a>
						</li>
						<li>
							<a href="../images/IMG_0552-1.jpg">
								<img src="../images/IMG_0552-1.jpg" alt="me">
								<h5>Description</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</a>
						</li>
						<li>
							<a href="../images/IMG_8638.JPG">
								<img src="../images/IMG_8638.JPG" alt="me">
								<h5>Description</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</a>
						</li>
						<li>
							<a href="../images/072415_1.jpg">
								<img src="../images/072415_1.jpg" alt="Ana">
								<h5>Description</h5>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							</a>
						</li>
					</ul>
					</selection>
				</div>
			</div>	
		<footer>
			<div>
				<a class="a-button-footer button-footer" href="../views/about.html" role="button">about</a>
				<a class="a-button-footer button-footer" href="../views/video.html" role="button">video</a>
			</div>

			<div id="fb"><span class="p-footer">&copy; 2019 Nikolai Roldugin <span id="year"></span> | <a class="a-footer" href="https://coned.georgebrown.ca/courses-and-certificates/fundamentals-of-web-design-with-css/" title="COMP 9626" target="_blank">Fundamentals of Web Design with CSS</a> | GBC 101133384</span>
			</div>
		</footer>
		</div>
	</div>
</body>
</html>